.subFindPlaces-title {
  @apply md:px-24 px-10 pt-10 text-2xl text-gray-600 font-primary;
}

.subFindPlaces-slider-container {
  @apply px-10 md:px-20 py-6;
}

.subFindPlaces-slider-prev {
  top: 45%;
  left: 5%;
  z-index: 100;
  @apply border absolute text-white hover:text-black h-6 md:h-10 w-6 md:w-10 rounded-full grid place-items-center cursor-pointer font-extrabold p-1 bg-transparent hover:bg-white transition duration-75;
}

.subFindPlaces-slider-next {
  top: 45%;
  right: 5%;
  z-index: 100;
  @apply border absolute text-white hover:text-black h-6 md:h-10 w-6 md:w-10 rounded-full grid place-items-center cursor-pointer font-extrabold p-1 bg-transparent hover:bg-white transition duration-75;
}

@media screen and (max-width: 640px) {
  .subFindPlaces-slider-prev {
    left: 4%;
  }
  .subFindPlaces-slider-next {
    right: 4%;
  }
}

.SingleSuitSlider-wrapper {
  background: rgba(0, 0, 0, 0.3);
  @apply h-64 md:h-suit-height cursor-pointer  transition ease-in-out relative;
}

.SingleSuitSlider-Image {
  height: 102%;
  width: 101%;
  @apply object-cover;
}

.SingleSuitSlider-overlay {
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  height: 102%;
  width: 101%;
  @apply absolute top-0 left-0;
}

.SingleSuitSlider-wrapper:hover .SingleSuitSlider-overlay {
  opacity: 1;
  @apply duration-700;
}
