.overlayMaker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  /* z-index: 1; */
}

.hero-div {
  @apply font-primary text-white w-full text-center absolute font-bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}
