.test-datePicker-wrapper {
  position: relative;
  @apply grid grid-cols-1 md:grid-cols-2 gap-5 mt-5 ;
}

.test-datePicker-field{
    border:1px solid rgb(201, 199, 199);
    @apply pl-2 rounded-md h-10;
}

.test-datePicker-field::placeholder{
    color:gray;
}
.test-calender{
  position: absolute;
  top:100%;
  z-index: 100;
  
}

.test-datePicker-checkin-input {
  @apply text-gray-600 w-full bg-transparent cursor-pointer;
}

.test-datePicker-checkout {
  @apply h-16 rounded-md col-span-2 border-2 bg-white text-gray-600 pt-1 pl-2 mt-3 md:mt-0 md:w-1/2 cursor-pointer;
}

.test-datePicker-checkout-input {
  @apply text-gray-600 w-full cursor-pointer;
}