.tab-card-title {
  @apply text-gray-700 text-center  lg:text-xl font-bold font-primary mt-2;
}

.tab-card-title-two {
  @apply text-gray-700 text-center md:text-left text-sm font-semibold mt-2;
}

.tab-card-logo {
  @apply h-16 mx-auto text-gray-600;
}
.tab-card-logo-two {
  @apply w-20 md:w-11/12  mx-auto h-auto text-center  p-2 text-gray-600;
}

.tab-card-content {
  @apply text-gray-700 text-center md:text-left text-sm font-primary mt-2;
}
