.suitCard-wrapper {
    box-shadow: 0px 15px 20px rgb(160, 158, 158);
  @apply h-64 md:h-suit-height cursor-pointer  transition ease-in-out relative;
}

.suitCard-overlay{
background: rgba(0, 0, 0, 0.4);
opacity: 0;
@apply absolute top-0 left-0;
}

.suitCard-wrapper:hover .suitCard-overlay{
    opacity: 1;
    @apply duration-700;
}

