.bg-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.bg-hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-image: url("/Images/contact-us-header.jpg");
}
