.subAreYouSection-Wrapper {
  background-image: url("/Images/are-you-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @apply border-2;
}

.subAreYouSection-overlay {
  background: rgba(0, 0, 0, 0.4);
}
