.signUpForm-wrapper {
  box-shadow: -2px 2px 20px 1px rgb(196, 194, 194);
  @apply border-2 px-3 md:w-2/3 lg:w-1/2 sm:mx-auto md:px-10 py-10 font-primary my-10 mx-5;
}

.signUpForm-wrapper textarea {
  @apply block;
}

.signUpForm-label-icon {
  font-size: 6px;
  @apply inline-block text-red-500 ml-1 mb-2 mr-1;
}

.signUpForm-submit-btn {
  @apply block text-gray-600 text-xl py-3 mt-5 col-span-2 rounded-md;
}

.signUpForm-divider {
  border-top: 2px dashed gray;
  @apply my-10;
}

.signUpForm-submit-social-btn {
  @apply w-full text-xl py-3 col-span-2 rounded-md border-2 focus:outline-none flex justify-center;
}

.signUpForm-dl-upload-label {
  @apply relative inline-block py-1 cursor-pointer rounded w-full bg-primary text-white h-14 pt-4 sm:pt-3 text-center;
}
