.title-container {
  z-index: 1000;
  display: block;
}
.title-price {
  color: black;
  position: absolute;
}
.image {
  position: relative;
  height: 70vh;
  width: 100%;
  z-index: 0;
}

.image:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

.main:hover .title-price {
  display: block;
}
