.contactUsForm-wrapper{
    box-shadow:-2px 2px 20px 1px rgb(196, 194, 194);
    @apply border-2 px-3 md:w-1/2 sm:mx-auto md:px-10 py-10 font-primary my-10 mx-5 ;
}

.contactUsForm-wrapper textarea{
    @apply block;
}

.contactUsForm-label-icon{
    font-size: 6px;
    @apply inline-block text-red-500 ml-1 mb-2 mr-1;
}

.contactUsForm-submit-btn{
    @apply block bg-yellow-primary text-gray-600 text-xl py-3 mt-5 col-span-2 rounded-md;
}

.contactUsForm-divider{
    border-top:2px dashed gray;
    @apply my-10;
}

.contactUsForm-submit-social-btn{
    @apply w-full text-xl py-3 col-span-2 rounded-md border-2 focus:outline-none flex justify-center;
}