@tailwind base;
@tailwind components;
@tailwind utilities;

/*import slick css*/
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800");

.desktop-init-menu ul {
  @apply flex justify-center mx-auto pt-1;
}

.desktop-init-menu ul li {
  @apply mx-4 text-primary text-lg uppercase transition duration-150 transform font-medium hover:text-yellow-primary;
}

.collapse-menu ul {
  @apply list-none mx-auto;
}

.collapse-menu ul li {
  @apply text-2xl font-extrabold text-white uppercase my-4 text-center;
}

.react-calendar {
  width: 90% !important;
}

.Dropdown-control {
  background: transparent !important;
  border: none !important;
  cursor: pointer !important;
  @apply h-16;
}

.Dropdown-placeholder {
  padding-top: 23px;
  padding-left: 2px;
  @apply text-gray-600;
}

.Dropdown-arrow {
  @apply mt-4;
}

.contain {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contain::-webkit-scrollbar {
  display: none;
}

.nunito {
  font-family: "nunito", font-sans;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

hover\:border-none:hover {
  border-style: none;
}

#sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
}

#sidebar span {
  transition: ease-in-out all 0.1s;
}

.closeNav {
  width: 0;
}

.openNav {
  width: 150px;
  @apply px-4;
}



/* Chrome, Safari, Edge, Opera */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-number[type=number] {
  -moz-appearance: textfield;
}

 .Modal {
    position: absolute;
    z-index:100000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:30%
  }